HELP.md
.mvn/wrapper/maven-wrapper.jar

# Ignore ALL target and build folders everywhere
target/
**/target/
build/
**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore the target folder in the current directory
target/

# Ignore the IDEA settings in the parent directory
../.idea/